<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	    <h2>Hello <%= @name %>,</h2>
    <p>
      You have received an invite to The List from <%= @sender %>.
    </p>
    <p>
    The List is a social knowledge board for sharing and promoting interesting web pages and projects.
    <a href="http://thelist.io/redeem/<%= @token %>">Click here to sign up</a>.<br><br>
    Welcome!
    </p>
  </body>
</html>