<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	    <h2>Hello <%= @name %>,</h2>
    <p>
      You have received <%= @karma %> karma on The List from <%= @sender %>.<br/>
    </p>
    <p>
      Click <a href="http://thelist.io/user/<%= @name %>">here</a> to see your profile, or <a href="http://thelist.io/">
      	here
      </a> to go home.<br/>
    </p>
  </body>
</html>
