<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @gift.email %>,</h1>
    <p>
      You have received <%= @gift.karma %> karma from <%= @user %>.<br/>
    </p>
    <p>Have a great day!</p>
  </body>
</html>