<!DOCTYPE html>
<html>
  <body>
	    <h2>Hello <%= @name %>,</h2>
      You have received an invite to The List from <%= @sender %>.<br><br>
    The List is a social knowledge board for sharing and promoting interesting web pages and projects.
    <a href="http://thelist.io/redeem/<%= @token %>">Click here to sign up</a>.<br><br>
    Welcome!
  </body>
</html>