<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @gift.email %>,</h1>
    <p>
      You have received an invite to <a href="The List">The List</a> from [from_username], along with <%= @gift.karma %> karma to get you started.<br/>
    </p>
    <p>
      The List is a social knowledge aggregator. If you are receiving this invitation, you must be a pretty cool person!
    </p>
    <p>To read more about The List, <a href="http://thelist.dev/about">click here</a>. To create your account and get started, <a href="">click here</a></p>
  </body>
</html>