<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	    <h2>Hello <%= @name %>,</h2>
    <p>
      You've been mentioned by <%= @commenter %>.<br/>
    </p>
    <p>
      Click <a href="http://thelist.io/user/<%= @name %>">here</a> to see the discussion.<br/>
    </p>
  </body>
</html>