<h2>Welcome, <%= current_user.username %>.</h2><br>
<span>You currently have <%= current_user.karma %> karma.</span>
<br>
<% if (current_user.karma) >= 10%>
  <span>Send a <%= link_to 'Gift', gift_path %> to a friend?</span>
<% end %>