<h2>Welcome, <%= current_user.username %>.</h2><br>
<span>You currently have <%= current_user.karma %> karma.</span>
<br>
<% if (current_user.karma) >= 20%>
  <span>Send an invite to a friend!</span>
<% end %>