<div id="profile">
<img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(User.find(@user).email) %>" class="profile-photo" />

<h2 id="profile-content"><%= @user.username %></h2><br>
<span id="profile-content">Karma: <%= @user.karma %></span>
<br><span id="profile-content">Member For: <%= time_ago_in_words(@user.created_at) %></span>
</div>
<br>