<h2>Apply to Contribute</h2>

<p>To contribute to The List you must receive an invite.<br><br>You can apply for an invite below or wait for an existing member to send you one.</p>

<%= render 'form' %>