<h2 style="color:#303030;">Blog</h2>
<h3 style="color:#585858">Updates on The List development.</h3><br>
<h4>By <a href="http://thelist.io/user/colby" title="http://thelist.io/user/colby">Colby Aley</a> and <a href="http://thelist.io/user/jackson" title="http://thelist.io/user/jackson">Jackson Gariety</a></h4>
<hr>
<div id="downtime">
<a href="/blog/downtime.html"><h3 style="font-size:24px;">Recent Downtime</h3></a>
<p>TheList.io has currently experienced some downtime, this is due to a failure on our server while preforming system updates. We have taken measures to make sure this will not happen in the future. Thanks for your support, and as always, let us know if you have any questions or feedback. -Colby</p>
</div>
<div id="api-status">
<a href="/blog/api-status.html"><h3 style="font-size:24px; border-top:1px dotted #aaa; padding-top:5px;">API Status</h3></a>
<p>It is currently possible to grab the JSON of both the <a href="http://thelist.io/posts.json">front page</a> and the <a href="http://thelist.io/posts/recent.json">recents page</a>. We are exploring the possibility of accepting posts through the API, but are specifically focused on reading for the time being. If you are building an app that uses the API, we would love to talk to you! If you would like to see something added to the API, you should <a href="mailto:colby@aley.me,business@jacksongariety.com">shoot us an email</a> also.</p>
</div>