<h2 style="color:#303030;">Spit And Shine</h2>
<a href="/blog">&#8592; Back to blog</a>


<p>We are excited to #rollout some of our latest updates to The List. We have implemented the ideas you all have shared with us, such as markdown in comments, and better profile pages. In addition we have made some changes that we think you will love, both visually and under the hood.</p>

<h3>Changelog:</h3>
<ul>
	<li>Markdown in comment.s</li>
	<li>Quotes in comments.</li>
	<li>Better profile pages.</li>
	<li>Simplified navigation bar.</li>
	<li><a href="/suggestions">Suggestions form</a>, where you can suggest features.</li>
	<li>User levels and perks. More to come. You can read about them <a href="/user-levels">here</a>.</li>
	<li>Title autofill on post <a href="/posts/new">submit page.</a></li>
	<li>Shows upvotes and downvotes when clicking on a post's point count.</li>
	<li>Free invite day: Send your friends an invite without having to surrender precious karma. Happens occasionally.</li>
	<li>Bookmarklet for easy posting from your web browser.</li>
</ul>