<h2 style="color:#303030;">The List v2</h2>
<a href="/blog">&larr; Back to blog</a><br><br>

<p>We are excited to announce the first major update to The List. We love the modifications and we think you'll love them too.</p>
<h3>New Guidelines</h3>
<p>We want The List to be for unique, well-thought-out content and nothing else. We've refined the guidelines to reflect this. In the abstract, The List is for timeless content only. <a href="/guidelines">See the new guidelines.</a></p>
<h3>Free Invite Day</h3>
<p>As determined by a mathematical constant, free invite day will occur multiple times a month and as the name suggests, invites will be free for that 24 hour period.</p>
<h3>User Levels</h3>
<p>While this is still in development, we want to reward users for posting great content. As your karma increases so will your user level, and with it your abilities on The List. <a href="/user-levels">See a list of abilities for each user level.</a></p>
<h3>The Suggestion Box</h3>
<p>We want The List to be as community driven as possible. In addition to making it <a href="http://github.com/organichackers/the-list" target="_blank">open source</a>, we've also added a <a href="/suggestions">suggestion box</a> for features you might have thought of that we have not.</p>
<h3>All-new Comments</h3>
<p>Comments have been re-built from the group up with rich formatting, markdown support, links, image embeds, and quoting.</p>
<h3>Better Profile Pages</h3>
<p>The profile pages have also been re-built to show recent comments and a nicer layout.</p>
<h3>Feeds</h3>
<p>You can now follow The List from <a href="http://twitter.com/thelistio" target="_blank">Twitter</a>, <a href="https://alpha.app.net/thelist" target="_blank">App.net</a>, and in your <a href="/posts/recent.rss">RSS</a> reader.</p>
<h3>And much more...</h3>
<ul>
	<li>Submission titles are auto-filled</li>
	<li>A bookmarklet</li>
	<li>UI overhaul</li>
	<li>A new favicon</li>
	<li>See a post's upvotes and downvotes</li>
	<li>No more version numbers</li>
	<li>Hashtag support with <a href="http://hashtag.ly/">HashTraffic</a></li>
	<li>Rails security updates</li>
	<li>Bug fixes</li>
</ul><br>
<span class="light">Note: v2 will be the final version number. All further updates will arrive as they are developed.</span>