<h2 style="color:#303030;">Recent Downtime</h2>
<a href="/blog">&#8592; Back to blog</a>


<p>TheList.io has currently experienced some downtime, this is due to a failure on our server while preforming system updates. We have taken measures to make sure this will not happen in the future. Thanks for your support, and as always, let us know if you have any questions or feedback. -Colby</p>