<h2 style="color:#303030;">API Status</h2>
<a href="/blog">&#8592; Back to blog</a>


<p>It is currently possible to grab the JSON of both the <a href="http://thelist.io/posts.json">front page</a> and the <a href="http://thelist.io/posts/recent.json">recents page</a>. We are exploring the possibility of accepting posts through the API, but are specifically focused on reading for the time being. If you are building an app that uses the API, we would love to talk to you! If you would like to see something added to the API, you should <a href="mailto:colby@aley.me,business@jacksongariety.com">shoot us an email</a> also.</p>