<h2>Guidelines</h2>

<p>The guidelines outline what is and what is not applicable to the list.<p>

<ul>
  <br><h3>The List is for:</h3>
  <li>Philosophic works</li>
  <li>Academic material</li>
  <li>Research journals</li>
  <li>Thought-provoking essays</li>
  <li>Insightful blog posts</li>
  <li>Design and development experiments</li>
  <li>Timeless content</li>
  <li>Having constructive discussions</li>
  <br><h3>The List is <b>not</b> for:</h3>
  <li>News</li>
  <li>Jokes</li>
  <li>Memes</li>
  <li>Fads</li>
  <li>Funny images</li>
  <li>Angry rants</li>
  <li>Advice animals</li>
  <li><a href="http://en.wikipedia.org/wiki/Link_bait" target="_blank">Link-bait</a></li>
</ul>