<h2>Guidelines</h2>

<p>The guidelines outline what is and what is not applicable to the list.<p>

<ul>
  <br><h3>The List is for:</h3>
  <li>Journals</li>
  <li>Insightful blog posts</li>
  <li>Learning about design, development, and business</li>
  <li>Having constructive discussions</li>
  <li>Things that would be of interest to geeks and technology fanatics</li>
  <br><h3>The List is <b>not</b> for:</h3>
  <li>Social media news</li>
  <li>Hot news and other quick posts</li>
  <li>Funny images</li>
  <li>Angry rants</li>
  <li><a href="http://www.quickmeme.com/memes/adviceanimals/" target="_blank">Advice animals</a></li>
  <li><a href="http://en.wikipedia.org/wiki/Link_bait" target="_blank">Linkbait</a></li>
</ul>