<h2>Guidelines</h2>

<p>The guidelines outline what is and what is not applicable on the list.<p>

<ul>
  <br><h3>The List is for:</h3>
  <li>Journals</li>
  <li>Insightful blog posts</li>
  <li>Unique, technology-related news</li>
  <li>Learning about design, development, and business</li>
  <br><h3>The List is <b>not</b> for:</h3>
  <li>Social media news</li>
  <li>Traditional news</li>
  <li>Funny images</li>
  <li><a href="http://www.quickmeme.com/memes/adviceanimals/" target="_blank">Advice animals</a></li>
  <li><a href="http://en.wikipedia.org/wiki/Link_bait" target="_blank">Linkbait</a></li>
</ul>