<h2>User Levels</h2>
<p>Perks that can be unlocked by amassing certain amounts of karma.</p>

<h3>0+ karma</h3>
<ul>
	<li>Nothing Yet</li>
</ul><br>

<h3>25+ karma</h3>
<ul>
	<li>Guidelines Box on <a href="/posts/new">Submit</a> page automatically checked</li>
</ul><br>

<h3>50+ karma</h3>
<ul>
	<li>Nothing Yet</li>
</ul><br>

<h3>100+ karma</h3>
<ul>
	<li>Username shown red on index, top, and recent page.</li>
</ul><br>