<h2>User Levels</h2>
<p>Perks that can be unlocked by amassing certain amounts of karma.</p>

<h3>Level 1 <span class="light">(granted at 0 karma)</span></h3>
<ul>
	<li>Voting</li>
	<li>Commenting</li>
	<li>Posting</li>
</ul><br>

<h3>Level 2 <span class="light">(granted at 25 karma)</span></h3>
<ul>
	<li>Nothing yet, but you can <a href="/suggestions">suggest something</a></li>
</ul><br>

<h3>Level 3 <span class="light">(granted at 50 karma)</span></h3>
<ul>
	<li>The guidelines checkbox on the <a href="/posts/new">submit</a> page is automatically checked</li>
</ul><br>

<h3>Level 4 <span class="light">(granted at 100 karma)</span></h3>
<ul>
	<li>Username shown in red.</li>
</ul><br>