<h2>New post</h2><br>
  <% if current_user %>
    <%= render 'form' %>
  <% else %>
    <script type="text/javascript">
      window.location.href="/log_in"  // put your correct path in a string here
    </script>
  <% end %>
