.profile-photo {
	float: left;
  border: 1px solid #CCC;
  margin-right: 10px;
  width: 41px;
  height: 41px;
}

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
